.clientes {

    margin: 2rem 0;

    &__titulos {
        margin: 1rem 0;
    }

    &__nuestrosClientesContainer {
        margin: auto;

        &--texto {
            margin: 1rem 0;
        }
    }

    &__clienteContainer {

        &--individual {
            margin: 1rem 0.5rem;
            padding: 1rem;
            border-radius: 10px;
            background-color: $colorFondoNavbar;
        }

        &--perfil {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
    }

}