.clientes {

    margin: 2rem;

    &__titulos {
        margin: 2rem 0;
    }

    &__nuestrosClientesContainer {
        position: relative;
        margin: 0 3rem;

        &--texto {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__clienteContainer {
        margin: 0 2rem;
        padding: 1rem;
        border-radius: 10px;
        background-color: $colorFondoNavbar;

        &--perfil {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
    }

}