.contactanos{
    &__title_box{
        height: 6rem;
        display: flex;
        align-items: center;
    };
    &__text_box{
        height:  6rem;
        display: flex;
        align-items: center;
    };
    &__icons_box{
        height:  6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    };
    &__text_input_box{
        
        display: flex;
        align-items: center;
        justify-content: start;
        height:  6rem;
    };
    &__text_area_box{
        width: 28rem;
        height: 12rem;
        border-radius: 1rem;
        border: 1px solid;
    };
    &__input_box{
        width: 28rem;
        height: 3rem;
        border-radius: 1rem;
        border: 1px solid;
    }
}