.footer{
        
    &__container{
        //width: 90rem;
        max-width: 100%;
        height: 5.30rem;
        background-color:$colorPrimario ;
        display: flex;
        justify-content:flex-end;;
        align-items: center;
    };
    &__container_social_media{
        display: flex;
        flex-direction: column;
        margin-right: 4rem
    };
    &__social_media_Instagram{
        color: #F2FFF5;
        background-color: inherit;
        border: initial;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        &:hover{
            color:black
        }
        
    };
    &__social_media_Facebook{
        color: #F2FFF5;
        background-color: inherit;
        border: initial;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        &:hover{
            color:black
        }
    };
    &__image_Facebook{
        width: 1.5rem;
    };
    &__image_Instagram{
        width: 1.5rem;
    }
    &__container_copyright{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    &__copyright{
        color: #F2FFF5;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }
}

@media screen  and (max-width:412px){
    
    .footer{
       // width: 25rem;
        &__container{
            width: 25rem;
            height: 5.30rem;
            background-color:$colorPrimario ;
            display: flex;
            justify-content:flex-end;;
            align-items: center;
        };
        &__container_social_media{
            display: flex;
            flex-direction: column;
            margin-right: 4rem
        };
        &__social_media_Instagram{
            color: #F2FFF5;
            background-color: inherit;
            border: initial;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            &:hover{
                color:black
            }
            
        };
        &__social_media_Facebook{
            color: #F2FFF5;
            background-color: inherit;
            border: initial;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            &:hover{
                color:black
            }
        };
        &__image_Facebook{
            width: 1.5rem;
        };
        &__image_Instagram{
            width: 1.5rem;
        }
    }
}