.home {
    margin: 2rem 0;
    
    &__presentacion {
        text-align: left;
        margin: auto 0;
        
        &--button {
            background-color: $colorFondoNavbar;
            color: $colorTexto;
            font-weight: bold;
            align-self: flex-start;
            margin-top: 1rem;
        }
        
        &--img{
            margin: 2rem 0;
            text-align: right;
        }
    }
    

    &__plato {
        margin: 1rem 0;
    }

    &__nosotros {

        &--titulo {
            margin-bottom: 1rem;
        }
    
        &--texto { 
            margin-bottom: 1rem;
        }
    }
}