.menu{
    width: 90rem;
    &__container_title{
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: start;
        color: $colorPrimario;
        font-family: 'Montserrat', sans-serif;
        font-size: 52px;
        font-weight: 700;
    };
    &__container_text{
        height: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-size: 25px;
        line-height: 30px
    };
}

.menu_section{
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10.50rem;
    }
   &__container_link_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 39.25rem;
        background-color: $colorFondoSecundario;
        border-radius: 2rem;
    
   } ;
   &__button{
        height: 4rem;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 24px;
    &:active{
        background-color: $colorTerciario ;
       }
   }
   &__link_menu{
        margin: 1rem;
        background-color: $colorFondoSecundario;
        color: black;
    &:active{
        background-color: $colorTerciario ;
       }
   }
   
}

.card_menu{
    &__container{
        margin-bottom:8.5rem ;
        width: 20rem;
        height:31rem ;
        border: none;
    };
    &__image{
        border-radius: 30px 70px 0px 70px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    &__name_title{
        font-family: 'Montserrat:wght@500';
        font-size: 25px;
        line-height: 30px;
    }
    &__container_menu_name_price{
        display: flex;
        height: 4rem;
        justify-content: center;
        align-items: center;
    };
    &__price{
        display: flex;
        justify-content: end;
        width: 6rem;
        color: $colorTerciario;
        font-family: 'Montserrat:wght@400';
        font-size: 20px;
        line-height: 30px;
        font-weight: bold
    };
    &__container_description{
        display: flex;
        justify-content: center;
        height:12rem ;
        align-items: center;
        align-content: center;
        font-family: 'Montserrat:wght@400';
        font-size: 1rem;
        line-height: 19px;
    }
    &__container_button{
        justify-content: end;
        display: flex;
        height: 4rem;
    };
    &__button {
        background-color: $colorTerciario;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8.37rem;
        height: 3rem;
        border: 3px solid $colorPrimario;
        border-radius: 2rem;
    }
}

@media screen  and (max-width:412px){
    .menu{
        &__container_title{
            width: 100%;
            height: 4.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        };
        &__container_text{
            width: 100%;
            height: 11rem;
            display: flex;
            align-items: center;
            justify-content: center;
        };
    }
    .menu_section{
        &__container_link_menu{
         display: flex;
        align-items: center;
         justify-content: center;
         height: 6rem;
         width:100%
         
        } ;
        &__link_menu{
            margin: 0.4rem;
         color: black;
        font-size: 1rem;
        }
     }
}