.navbar{
  
    &__search{
        width: 1.5rem;
    };
    &__container_icons_buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    };
    &__shoppingCart{
        
        width: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__container_mi_perfil{
        display: flex;
        justify-content: start;
        width: 6rem;
    }
}

.search{
    &__container{
        display: flex;
        justify-content: end;
        width: 25rem;
    };
    &__button{
        background-color: inherit;
        border: none;
    }
}