.nosotros {

    margin: 3rem 0;

    &__titulos {
        margin: 1rem;
        text-align: center;
    }

    &__container {
        margin: auto 0;

        &--img {
            margin: 1rem 0;
            text-align: center;
        }
    }

}