.active{
    color: #316B3E !important;
    font-weight: bold;
    text-decoration:underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
      color: red;
      font-size: 12px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
}

.background{
        background-color: #6BEA87 ;
        display: flex;
        justify-content: center;
}

.backgroundPlatos{
  background-color: #6BEA87 ;
  width: 122px;
  border-radius: 2rem 0 0 2rem;
  display: flex;
  justify-content: center;
}

.backgroundBebidas{
  background-color: #6BEA87 ;
  width: 122px;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  justify-content: center;
}