.active{
    color: #316B3E !important;
    font-weight: bold;
    text-decoration:underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
      color: red;
      font-size: 12px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
}

.background{
        background-color: #6BEA87 ;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        border: none;
        text-decoration: none;
  
}

.backgroundPlatos{
  background-color: #6BEA87 ;
  width: 132px;
  border-radius: 2rem 0 0 2rem;
  font-family: 'Montserrat', sans-serif ;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  border: none ;
  text-decoration: none ;
}

.backgroundBebidas{
  background-color: #6BEA87 ;
  width: 132px;
  border-radius: 0 2rem 2rem 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  border: none;
  text-decoration: none;
}